allow crash_dump bluetooth_data_file:file { getattr open read };
allow crash_dump system_data_file:file open;
allow crash_dump vendor_overlay_file:file { open read };
